
  
  a:hover {
    color: #0084FF;
  }
  
/* section container */
.section-container {

}

.section-background {
  position: absolute;
  left: 15vh;
  width: 40%;
  z-index: -1;
}

.horizontal-slide {
  display: flex;
  border: 1px solid blue;
  overflow-x: scroll;
}

.slide {
  min-width: 100vw;
  scroll-margin-left: 30em;
}

/* wireframing
.wireframing {
  margin: 10em, 30em, 0em, 30em;
} */




  /* old */
  .topthree{
    display:flex;
  }
  
  .topthree {
    margin: 5vh 5vh 1vh 0vh;
  }
  
  .pthree {
    width: 300px;
    margin: 0vh 10vh 5vh 0vh;
  }
  
  .onetwothree {
    display: flex;
  }
  
  .ideationpic {
    width: 95%;
    margin: 5vh 50vh 0vh 0vh;
  }
  
  .ideationflex {
     margin: 0vh 0vh 0vh 10vh;
  }
  
  .wireframing {
    margin: 10vh 0vh 5vh 0vh;
  }
  
  .lofitext {
    margin: 1vw 0vw 5vw 0vw;
  }
  
  .lofi {
    width: 75vh;
  }
  
  .midfi {
    width: 35vw;
  }
  
  .lofipic {
    display:flex;
  }
  
  /* .midlist {
    margin: 0vh 0vh 0vh 0vh;
  } */
  
  .midfititle {
    margin: 10vh 0vh 5vh 0vh;
  }
  
  li {
    margin: 5vh 3vh 3vh 0vh;
    width: 400px;
  }
  
  .hidfi {
    width: 45vw;
    margin: 10vh 0vh 5vh 0vh;
  }
  
  .usabilitypic {
    width: 45vw;
    margin: 25vh 0vh 5vh 25vh;
  }
  
  .hifipic {
    width: 45vh;
    margin: 5vh 0vh 10vh 0vh;
  }
  
  .reiterations {
    display: flex;
  }
  
  .makingchangestitle {
    margin: 10vh 0vh 5vh 5vh;
  }
  
  .threehifi {
    width: 75vw;
    margin-bottom: 10vh;
  }
  
  .responsivepic {
    width: 75vw;
    margin: 10vh 0vh 5vh 0vh;
  }
  
  .devtitle {
    margin-bottom: 5vh;
  }
  
  .devtitletwo {
    margin-bottom: 3vh;
  }
  
  .devpone {
    margin-bottom: 1vh
  }
  
  .feedbacktitle {
    margin: 10vh 0vh 5vh 0vh;
  }
  
  .feedbackdivider {
    margin: 5vh 0vh 0vh 0vh;
  }
  
  .feedbacksubhead {
    margin: 0vh 0vh 1vh 0vh;
  }
  
  .feedbackdividertwo {
    margin: 3vh 0vh 0vh 0vh;
  }
  
  