html, body, button {
    font-family: Pt Serif;
    margin: 0;
  }
  
  h1, h2, h3, p {
    color: #2D2D2D;
    padding: 0;
    margin: 0;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: lighter;
  }
  
  p {
    font-size: 18px;
  }
  
  
  .header-thing {
    display: flex;
    justify-content: flex-end;
    margin-top: 8vh;
    margin-right: 15vh;
  }
  
  a {
    text-decoration: none;
    padding: 1em 2em 1em 2em;
    color: #2D2D2D;
    font-size: 24px;
  }
  
  a:hover {
    color: #0084FF;
  }
  
  .home-container{
    display: block;
    margin: 15vh 30vh 0vh 30vh;
  }
  
  .topthree{
    display:flex;
  }
  
  .topthree {
    margin: 5vh 5vh 1vh 0vh;
  }
  
  .pthree {
    width: 300px;
    margin: 0vh 10vh 5vh 0vh;
  }
  
  .onetwothree {
    display: flex;
  }
  
  .research {
    margin: 5vh 10vh 1vh 0vh;
  }
  
  .researchp {
    width: 70vh;
  }
  
  .researchpic {
    width: 90%;
    margin: 25vh 25vh 25vh 25vh;
  }
  
  .researchflex{
    display:flex;
  }
  
  .ideationpic {
    width: 95%;
    margin: 5vh 50vh 0vh 0vh;
  }
  
  .researchflex{
    display:flex;
  }
  
  .ideationflex {
     margin: 0vh 0vh 0vh 10vh;
  }
  
  .wireframing {
    margin: 10vh 0vh 5vh 0vh;
  }
  
  .lofitext {
    margin: 1vw 0vw 5vw 0vw;
  }
  
  .lofi {
    width: 75vh;
  }
  
  .midfi {
    width: 35vw;
  }
  
  .lofipic {
    display:flex;
  }
  
  /* .midlist {
    margin: 0vh 0vh 0vh 0vh;
  } */
  
  .midfititle {
    margin: 10vh 0vh 5vh 0vh;
  }
  
  li {
    margin: 5vh 3vh 3vh 0vh;
    width: 400px;
  }
  
  .hidfi {
    width: 45vw;
    margin: 10vh 0vh 5vh 0vh;
  }
  
  .usabilitypic {
    width: 45vw;
    margin: 25vh 0vh 5vh 25vh;
  }
  
  .hifipic {
    width: 45vh;
    margin: 5vh 0vh 10vh 0vh;
  }
  
  .reiterations {
    display: flex;
  }
  
  .makingchangestitle {
    margin: 10vh 0vh 5vh 5vh;
  }
  
  .threehifi {
    width: 75vw;
    margin-bottom: 10vh;
  }
  
  .responsivepic {
    width: 75vw;
    margin: 10vh 0vh 5vh 0vh;
  }
  
  .devtitle {
    margin-bottom: 5vh;
  }
  
  .devtitletwo {
    margin-bottom: 3vh;
  }
  
  .devpone {
    margin-bottom: 1vh
  }
  
  .feedbacktitle {
    margin: 10vh 0vh 5vh 0vh;
  }
  
  .feedbackdivider {
    margin: 5vh 0vh 0vh 0vh;
  }
  
  .feedbacksubhead {
    margin: 0vh 0vh 1vh 0vh;
  }
  
  .feedbackdividertwo {
    margin: 3vh 0vh 0vh 0vh;
  }
  
  /* Call To Action Button */
  
  .bottom-button {
    display: flex;
    justify-content: center;
    margin: 25vh 0vh 25vh 0vh;
  }
  
  button{
    padding: 15px 50px 15px 50px;
    border-radius: 5px;
    color: #F9F9F9;
    background-color: #2D2D2D;
    border: none;
  }