main {
    margin: 0vw 15vw 15vw 15vw;
  }

  .onetwothree {
    display: flex;
  }

  .topthree {
    margin: 5vh 5vh 1vh 0vh;
  }

  .pthree {
    width: 300px;
    margin: 0vh 10vh 5vh 0vh;
  }

  .topthree {
    margin: 5vh 5vh 1vh 0vh;
  }

  .figma {
      width: 100vh;
  }

  .planning-flex {
      display: flex;
  }

  .coffee {
      width: 70vh;
      margin-top: 20vh;
  }

  .codepen {
      width: 70vw;
  }

  .back-up-plan {
      width: 25vw;
  }

  .coding-flex {
      display: flex;
  }

  .problems {
      display: flex;
  }

  .throw {
      width: 80vh;
  }

  .solutions {
    display: flex;      
  }

  .git {
    width: 70vh;
  }

  .steps-flex {
      display: flex;
  }

  .superman {
      width: 70vh;
  }