.contact-container {
  display: block;
  margin: 0 15vw 5vh 15vw;
}

.AB {
  margin-bottom: 2vh;
}

.IAM {
  margin-bottom: 3vh;
}

/* Form */

form {
  margin: 5vh 0vh 5vh 0vh;
}
/* Button */
button {
  padding: 15px 50px 15px 50px;
  border-radius: 5px;
  color: #f9f9f9;
  background-color: #2d2d2d;
  border: none;
  margin: 5vh 0vh 5vh 0vh;
}

/* BBY */

.BBY {
  width: 60vh;
  margin: 0vh 0vh 0vh 20vh;
}

.form-yoda {
  display: flex;
  margin: 10vh 0vh 0vh 0vh;
}

/* Saber */
.saber {
  position: absolute;
  top: 12em;
  left: -8em;
}

@media screen and (max-width: 800px) {
  .all-the-crazy-img-stuff {
    display: none;
  }
}

.saber-red {
  display: none;
}

#name-input:focus ~ div .saber {
  transform: rotate(8deg);
  top: 10em;
  left: -8em;
}

#email-input:focus ~ div .saber-blue {
  transform: rotate(0deg);
  top: 12em;
  left: -8em;
}

#email-input:invalid ~ div .saber-red {
  display: block;
  transform: rotate(0deg);
  top: 12em;
  left: -8em;
}

#email-input:invalid ~ div .saber-blue {
  display: none;
}

#comment-input:focus ~ div .saber-blue {
  transform: rotate(-6deg);
  top: 15em;
  left: -8em;
}
