/***
 :Author: Aaron Brink, Ryan Brink
 :Date: April 21, 2020

 Page stylesheet. Use to style index.html

 ToC:
   1. Above the Fold
   2. Section 1
 ***/

/***
 * Above Fold
 ***/

.above-fold-header-text {
  margin-top: 20vh;
  margin-bottom: 4vh;
  font-size: 4vh;
}

.above-fold-paragraph-text {
  font-size: 2.4vh;
}

.above-fold-paragraph-text-2 {
  font-size: 2vh;
}

.above-fold-header-bottom {
  margin-top: 30vh;
}

@media screen and (max-height: 600px) {
  .above-fold-header-text {
    margin-top: 10vh;
  }
  .above-fold-header-text {
    font-size: 1.8em;
  }
  .above-fold-paragraph-text {
    font-size: 18px;
  }
  .above-fold-paragraph-text-2 {
    font-size: 16px;
  }
}

.section {
  width: 100%;
  position: absolute;
  left: 0;
  height: 100vh;
}

.section-inner {
  margin: 0 15vw 0 15vw;
  align-items: center;
  display: flex;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .section {

  }

  .section-inner {
    margin: 0 16px 0 16px;
    align-items: flex-start;
    justify-content: center;
  }

  .section-leftside {
    margin-bottom: 2em;
  }
}

/***
 * Section 1
 ***/
.section-1 {
  background: #8811ff;
}

.section-1-inner {

}

.section-1-leftside {
  flex: 1;
}

@media screen and (max-width: 900px) {
  .section-1-inner {
    flex-direction: column;
  }
  .section-1-leftside {
    flex: 0;
  }
}

/* Old styling */
.home-container {
  display: block;
  margin: 15vh 30vh 0vh 30vh;
}

.RB {
  margin-bottom: 8vh;
}

.IAM {
  margin-bottom: 3vh;
}

.FORMER {
  margin-bottom: 8vh;
}

/* Case Studies */

.case-studies {
  margin: 15vh 30vh 15vh 30vh;
}

/* Business Card Organizer */

.bus-img {
  width: 60vh;
  margin: 0vh 0vh 0vh 30vh;
}

.BCO-text {
  width: 149px;
  margin-bottom: 5vh;
  text-align: center;
}

#BCO-button,
#BCO-button:visited,
#BCO-button:active {
  background-color: #1da3f6;
}

#BCO-button:hover {
  background-color: #0084ff;
  color: #f9f9f9;
}

.BCO-container {
  display: flex;
  margin: 0vh 25vh 0vh 15vh;
}

.BCO-text-button {
  margin: 25vh 0vh 0vh 0vh;
}

/* Mission French Africa */

.MFA-img {
  width: 90vh;
  margin: 20vh 0vh 0vh 20vh;
}

.MFA-text {
  width: 143px;
  margin-bottom: 5vh;
  text-align: center;
}

#MFA-button,
#MFA-button:visited,
#MFA-button:active {
  background-color: #eeac3f;
}

#MFA-button:hover {
  background-color: rgb(240, 189, 108);
  color: #f9f9f9;
}

.MFA-container {
  display: flex;
  margin: 0vh 25vh 0vh 0vh;
}

.MFA-text-button {
  margin: 30vh 0vh 0vh 30vh;
}

/* Daily UI */

.dailyui {
  margin: 15vh 30vh 0vh 30vh;
}

.UI1 {
  display: flex;
}

.boarding-img {
  width: 75vh;
  margin: 10vh 0vh 5vh 30vh;
}

.boarding-pass {
  font-weight: bold;
  margin: 10vh 0vh 5vh 10vh;
}

.boarding-pass-p {
  margin-left: 10vh;
  width: 50%;
}

/* Call To Action Button */

.bottom-button {
  display: flex;
  justify-content: center;
  margin: 25vh 0vh 25vh 0vh;
}
